 /* raidslot farger etter class */
 .elemental-shaman {
    background-color: #0070DE;
}

/* Shaman */
.restoration-shaman {
    background-color: #0070DE;
}

/* Shaman */
.enhancement-shaman {
    background-color: #0070DE;
}

/* Shaman */
.frost-death-knight {
    background-color: #C41F3B;
}

/* Death Knight */
.blood-death-knight {
    background-color: #C41F3B;
}

/* Death Knight */
.unholy-death-knight {
    background-color: #C41F3B;
}

/* Druid */
.feral-druid{
    background-color: #FF7D0A;
}

/* Druid */
.restoration-druid {
    background-color: #FF7D0A;
}

/* Druid */
.balance-druid {
    background-color: #FF7D0A;
}

/* Druid */
.arms-warrior {
    background-color: #C79C6E;
}

/* Warrior */
.fury-warrior {
    background-color: #C79C6E;
}

/* Warrior */
.protection-warrior {
    background-color: #C79C6E;
}

/* Warrior */
.assassination-rogue {
    background-color: #FFF569;
}

/* Rogue */
.combat-rogue {
    background-color: #FFF569;
}

/* Rogue */
.subtlety-rogue {
    background-color: #FFF569;
}

/* Rogue */
.survival-hunter {
    background-color: #ABD473;
}

/* Hunter */
.marksman-hunter {
    background-color: #ABD473;
}

/* Hunter */
.beastmaster-hunter {
    background-color: #ABD473;
}

/* Hunter */
.frost-mage {
    background-color: #69CCF0;
}

/* Mage */
.arcane-mage {
    background-color: #69CCF0;
}

/* Mage */
.fire-mage {
    background-color: #69CCF0;
}

/* Mage */
.affliction-warlock {
    background-color: #9482C9;
}

/* Warlock */
.destruction-warlock {
    background-color: #9482C9;
}

/* Warlock */
.demonology-warlock {
    background-color: #9482C9;
}

/* Warlock */
.holy-paladin {
    background-color: #F58CBA;
}

/* Paladin */
.protection-paladin {
    background-color: #F58CBA;
}

/* Paladin */
.retribution-paladin {
    background-color: #F58CBA;
}

/* Paladin */
.shadow-priest {
    background-color: #FFFFFF;
}

/* Priest */
.discipline-priest {
    background-color: #FFFFFF;
}

/* Priest */
.holy-priest {
    background-color: #FFFFFF;
}