.shaman {
    background-color: #0070DE;
}
.deathknight {
    background-color: #C41F3B;
}
.druid{
    background-color: #FF7D0A;
}
.warrior {
    background-color: #C79C6E;
}
.rogue {
    background-color: #FFF569;
}
.hunter {
    background-color: #ABD473;
}
.mage {
    background-color: #69CCF0;
}
.warlock {
    background-color: #9482C9;
}
.paladin {
    background-color: #F58CBA;
}
.priest {
    background-color: #FFFFFF;
}
